<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row justify-content-center">
    <div class="col text-center">
      <h1>
        Excel data processing site
      </h1>

      <nav class="nav">
        <a class="nav-link" routerLink="/" routerLinkActive="disabled" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a *ngIf="authService.isLoggedIn" class="nav-link" routerLink="/import" routerLinkActive="disabled" [routerLinkActiveOptions]="{exact: true}">Import Data</a>
        <a *ngIf="authService.isLoggedIn" class="nav-link" href="#" (click)="logout()">Logout</a>
      </nav>

      <p *ngFor="let notification of notificationService.notifications">
        <ngb-alert [type]="notification.isError ? 'danger' : 'info'" (close)="notificationService.removeNotification(notification)">{{ notification.message }}</ngb-alert>
      </p>

      <router-outlet></router-outlet>
    </div>
  </div>
</div>