<div class="row">
  <div class="col">
    <h3>Select an Excel file for import</h3>

    <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)">

    </ngx-file-drop>
    <span class="font-weight-bold" *ngIf="fileName != ''">{{fileName}}</span>
    <div *ngIf="sheets.length > 0">
      <span class="font-weight-bold">Select a sheet to import</span>
      <div class="flex-wrap">
        <div class="d-inline-flex p-2" *ngFor="let sheet of sheets; let i=index">
          <button class="btn btn-success btn-sm" (click)="selectSheet(i)">{{sheet}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="dataMap.mapping.length > 0" class="row">
  <div class="col-12">
    <select #dataTypeSel class="form-control">
      <option *ngFor="let dtype of dataTypes" [value]="dtype.value">{{dtype.displayName}}</option>
    </select>

    <div class="input-group mb-3">
      <input #dataNameInput class="form-control" type="text" placeholder="Name your imported data" value="" />
      <div class="input-group-append">
        <button class="btn btn-primary" [disabled]="saveDataTypeIsDisabled || dataNameInput.value === ''" (click)="createDataType(dataNameInput.value); dataNameInput.value = ''">Create Data Name</button>
      </div>
    </div>

    <select class="form-control" [(ngModel)]="selectedMapping" (change)="mappingSelected()">
      <option [value]="">Use an exsisting mapping</option>
      <option *ngFor="let name of mappingNames | async" [ngValue]="name">{{name}}</option>
    </select>

    <table class="table table-hover">
      <tbody>
        <tr scope="row" *ngFor="let mapping of dataMap.mapping">
          <td scope="col" class="text-left col-2">{{mapping.from}}</td>
          <td scope="col" class="text-left col-3">
            <ng-select placeholder="Select a field" [(ngModel)]="mapping.to">
              <ng-template ng-header-tmp>
                <div class="input-group input-group-sm mb-6">
                  <input #newField type="text" class="form-control" placeholder="Create new field" aria-label="Create new field">
                  <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="button" (click)="createField(newField.value); newField.value = ''">New</button>
                  </div>
                </div>
              </ng-template>
              <ng-option *ngFor="let field of knownFields | async" [value]="field">{{field}}</ng-option>
            </ng-select>
          </td>
          <td scope="col" class="text-left col-3">
            <ng-select class="other-select" [(ngModel)]="mapping.mapType">
              <ng-option value="text">text</ng-option>
              <ng-option value="date/time">date/time</ng-option>
              <ng-option value="number">number</ng-option>
            </ng-select>
          </td>
          <td class="text-left col-3" scope="col">{{mapping.value}}</td>
          <td class="text-right col-1" scope="col">
            <button class="btn" [ngClass]="mapping.isExcluded ? 'btn-outline-primary' : 'btn-outline-primary'" (click)="toggleFieldFromMap(mapping);">{{mapping.isExcluded ? 'Include' : 'Exclude'}}</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="input-group mb-3">
      <input #mappingNameInput class="form-control" type="text" placeholder="Mapping name" [value]="selectedMapping != 'Use an exsisting mapping' ? selectedMapping : ''" />
      <div class="input-group-append">
        <button class="btn btn-primary" [disabled]="saveMappingIsDisabled || mappingNameInput.value == ''" (click)="saveMapping(mappingNameInput.value)">Save Mapping</button>
      </div>
    </div>
  </div>
  <div class="row justify-content-start mx-0">
    <div class="col">
      <button class="btn btn-primary" [disabled]="isImportingData" (click)="saveData(dataTypeSel.value)">Import Data</button>
      <span *ngIf="isImportingData">Importing...</span>
    </div>
  </div>
</div>